# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
# dist/ is committed for cloud static hosting
dist-electron/
release/
out/
build/*
!build/icon.ico
!build/icon.png

# Local Python Runtime & Virtual Environments
python_runtime/
.venv/
env/
__pycache__/
*.pyc

# Logs & Temporary Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
python_installer.exe
py_embed.zip

# Operating System Files
.DS_Store
Thumbs.db
